#chibi-console {
    font-family: Consolas, Monaco, monospace;
}

    #chibi-console > div {
        border-top: 1px solid #dedede;
        padding-top: 4px;
        padding-bottom: 4px;
    }

        #chibi-console > div.echo {
            color: #8e8e8e;
            font-style: italic;
        }

        #chibi-console > div.result {
            color: #0094ff;
        }

        #chibi-console > div.error {
            color: #ff0000;
            font-weight: bold;
        }

        #chibi-console > div.input > div.prompt {
            float: left;
        }
