.chibi-console {
    font-family: Consolas, Monaco, monospace;
}

.chibi-msg {
    border-bottom: 1px solid #efefef;
    padding-bottom: 2px;
    padding-top: 2px;
}

.chibi-error {
    color: red;
    font-weight: bold;
}

.chibi-result {
    color: #0094ff;
}

.chibi-info {
}

.chibi-echo {
    color: #8e8e8e;
    font-style: italic;
}

.chibi-input {
    padding-top: 2px;
    padding-bottom: 2px;
}

.chibi-command {
    outline: none;
    margin-left: 16px;
}